*checkpoint.ipynb
*/__pycache__
__pycache__
.DS_Store
.vscode/
.pytest_cache/
.cache

/Users/mjablons/Documents/stellar-mesh-integration/tutorial/paper_results/phoebe_checks/
/Users/mjablons/Documents/stellar-mesh-integration/tutorial/paper_results/phoebe_lc_checks