*checkpoint.ipynb
*/__pycache__
__pycache__
.DS_Store
.vscode/
.pytest_cache/
.cache

build/*

tutorial/paper_results/phoebe_checks/
tutorial/paper_results/phoebe_lc_checks/
tutorial/paper_results/*.pkl
tutorial/paper_results/results/tutorial/paper_results/
.cache/
*.pkl
*.pickle
*.txt
*.csv
*.txt
